.kanban {
    height: 100vh;
    width: 99%;
    background-color: rgb(41, 41, 41);
    display: flex;
    flex-direction: column;
    margin: 10px;
    animation: slide-fade 2s;
}

@keyframes slide-fade {
  from {
    opacity: 0;
    transform: translateY(20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}



.kanban  button, a {
    display: flex;
    align-items: center;
    justify-content: center;

    min-height: 40px;
    border-radius: 25px;
    background-color: #1d4ea4;
    color: white;
    border: none;
    cursor: pointer;
    padding: 0 15px;
    margin-bottom: 20px;
    transition: 0.3s ease-in-out;
    max-height: 40px;

    
}
.kanban a{
    animation: slide-fade 2.5s;

}
.kanban .add {
    animation: slide-fade 3s;

}
.kanban .reset {
    animation: slide-fade 3.5s;

}

.buttonslist input {
    background: none;
    outline: none;
    font-size: 30px;
    color:white;
    border: none;
    border: 1px dashed white;
    border-radius: 10px;


}


.kanban svg{
    width: 40px;;
}



.rows {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 20px;
    margin: 3rem;
}

.row {
    
    background: #737cfa;
    background: linear-gradient(128deg, rgba(115, 124, 250, 1) 0%, rgba(12, 105, 235, 1) 100%);
    border-radius: 15px;
    padding: 20px;
    min-height: 200px;
    display: flex;
    flex-direction: column;
    max-width: 22rem;
    animation: slide-fade 2s;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
}

.row h3 {
    margin: 0 0 10px 0;
    color: black;
}

.row button {
    background-color: rgb(52, 52, 52);
    color: white;
    border: none;
    border-radius: 5px;
    padding: 8px 8px;
    cursor: pointer;
    margin: 10px;
    border-radius: 25px;
    max-width: 5rem;
}

.row button:hover {
    background-color: rgb(91, 91, 91);
}

.row textarea {
    outline: none;
    border: dashed 1px rgb(241, 241, 241);
    font-size: 15px;
    text-align: left;
    color: white;
    padding: 10px;
    max-height: 1rem;
    max-width: 12rem;
    border-radius: 25px;
    background: none;
}


.row ul {
    list-style: none;
    padding: 0;
    margin: 0;
    
}

.tasks-container {
  margin-top: 10px;
}


.buttonslist {
  display: flex;
  gap: 10px;
  margin-bottom: 20px;
}





.row #status {
    height: 1rem;
    padding: 5px;
    margin-top:  1rem;
    margin-bottom:  1rem;
    border-radius: 35px;
    outline: none;
    border: none;
    width: 5rem;
    background-color: rgb(105, 105, 105);
    color: white;
    text-align: center;
}

#title{
    color: #fff;
    outline: none;
    max-width: 80%;
    font-size: 30px;
    border: none;
    background: none;
    

}