<div class="kanban">
  <div class="buttonslist">
       <a routerLink="/">Back to Main Page</a>
       <button class="add" (click)="addRow()">+ Add a Column</button>
  <button class="reset" (click)="clearAll()">Reset All</button>

  <!--  Logique et boutons -->

  </div>


  <div class="rows">
    <div class="row" *ngFor="let row of rows"> 
      <!-- Boucle for de row of le tableau rows -->
      <textarea [(ngModel)]="row.title" (ngModelChange)="updateRow()" rows="2" placeholder="Column Title"></textarea>
      <input [(ngModel)]="row.status" (ngModelChange)="updateRow()" rows="2" >
      <textarea [(ngModel)]="row.taskInput" (ngModelChange)="updateRow()" rows="3" placeholder="Add Task"></textarea>
      <button (click)="addTask(row)">Add</button>
      <button (click)="updateRow()">Refresh</button>

      <div class="tasks-container">
        <app-task 
          *ngFor="let task of row.tasks" 
          [task]="task"
          (deleteTask)="deleteTask(row, $event)"
          (updateTask)="updateTask(row, $event)"> 
          <!-- Event Custom  -->
        </app-task>
      </div>
    </div>
  </div>
</div>
<router-outlet></router-outlet>
