<div class="kanban">
  <a routerLink="/">Back to Main Page</a>
  <button (click)="addRow()">+ Add a Column</button>

  <div class="rows">
    <div class="row" *ngFor="let row of rows">
      <textarea [(ngModel)]="row.title" (ngModelChange)="updateRow()" rows="2" placeholder="Column Title"></textarea>
      <textarea [(ngModel)]="row.taskInput" (ngModelChange)="updateRow()" rows="3" placeholder="Add Task"></textarea>
      <button (click)="addTask(row)">Add</button>
      <button (click)="updateRow()">Refresh</button>

      <div class="tasks-container">
        <app-task 
          *ngFor="let task of row.tasks" 
          [task]="task"
          (deleteTask)="deleteTask(row, $event)"
          (updateTask)="updateTask(row, $event)">
        </app-task>
      </div>
    </div>
  </div>
</div>
<router-outlet></router-outlet>
